*.DS_Store*
*__pycache__/*
*.pyc*
*.ipynb_checkpoints*
*.env*
*.pem*
*Icon*
*.idea/*
i\+d/logs

*prova2.dart
*Homepage.dart

# Firebase credentials (ask @marcdmc for testing)
backend/App/fbAdminConfig.json
backend/App/fbconfig.json

.vscode/


*.log
